# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import datetime

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [49]:
data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv')
data.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 3. Assign it to a variable apple

In [18]:
apple = data

### Step 4.  Check out the type of the columns

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 7 columns):
Date         8465 non-null object
Open         8465 non-null float64
High         8465 non-null float64
Low          8465 non-null float64
Close        8465 non-null float64
Volume       8465 non-null int64
Adj Close    8465 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 463.0+ KB

### Step 5. Transform the Date column as a datetime type

In [50]:
data['Date'] = pd.to_datetime(data['Date'])

### Step 6.  Set the date as the index

In [51]:
data = data.set_index('Date')
data.head()

             Open   High    Low  Close    Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 7.  Is there any duplicate dates?

In [54]:
data1= apple['Date'].value_counts().to_frame()
data1 =data1.reset_index()
data1.columns = [['Date','count']]
data1[data1['count'] >1].head()

data.head()
data.index.is_unique

True

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [59]:
data.sort_index().head()

             Open   High    Low  Close     Volume  Adj Close
Date
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41

### Step 9. Get the last business day of each month

In [76]:
data.resample('BM').sum().head()
#data.head()

              Open    High     Low   Close     Volume  Adj Close
Date
1980-12-31  396.26  397.38  395.76  395.76  336212800       6.15
1981-01-30  666.85  668.36  664.75  664.75  152247200      10.37
1981-02-27  503.12  504.87  501.75  501.75   80404800       7.81
1981-03-31  548.63  550.37  546.40  546.40  175179200       8.53
1981-04-30  573.02  574.73  571.77  571.77  134232000       8.89

### Step 10.  What is the difference in days between the first day and the oldest

In [99]:
#pd.to_datetime(apple.Date.head(1).reset_index().iloc[0,1]) - pd.to_datetime(apple.Date.tail(1).reset_index().iloc[0,1]) 
(data.index.max() - data.index.min()).days
#data.head()

12261

### Step 11.  How many months in the data we have?

In [108]:
data.index.month.value_counts()
apple_months = data.resample('BM').mean()
len(apple_months.index)

404

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.