# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [28]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [44]:
column = ['sepal_length','sepal_width','petal_length','petal_width','class']
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris.columns = column
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

### Step 4. Create columns for the dataset

In [57]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

### Step 5.  Is there any missing value in the dataframe?

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [45]:
data = iris
data.iloc[9:28,:] = np.NAN
data.iloc[9:30,:].head()

    sepal_length  sepal_width  petal_length  petal_width class
9            NaN          NaN           NaN          NaN   NaN
10           NaN          NaN           NaN          NaN   NaN
11           NaN          NaN           NaN          NaN   NaN
12           NaN          NaN           NaN          NaN   NaN
13           NaN          NaN           NaN          NaN   NaN

### Step 7. Good, now lets substitute the NaN values to 1.0

In [41]:
data.fillna(1,inplace  = True)
#data.iloc[9:28,:] = 1
data.head()
#data.columns

   sepal_length  sepal_width  petal_length  petal_width
0           4.9          3.0           1.4          0.2
1           4.7          3.2           1.3          0.2
2           4.6          3.1           1.5          0.2
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

### Step 8. Now let's delete the column class

In [49]:
#del(data['class'])
data.head()

   sepal_length  sepal_width  petal_length  petal_width
0           4.9          3.0           1.4          0.2
1           4.7          3.2           1.3          0.2
2           4.6          3.1           1.5          0.2
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

### Step 9.  Set the first 3 rows as NaN

In [51]:
data.iloc[0:3,:]=np.NAN
data.head()

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

### Step 10.  Delete the rows that have NaN

In [54]:
data = data.dropna()
data.head()

   sepal_length  sepal_width  petal_length  petal_width
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4
5           4.6          3.4           1.4          0.3
6           5.0          3.4           1.5          0.2
7           4.4          2.9           1.4          0.2

### Step 11. Reset the index so it begins with 0 again

In [56]:
data.reset_index().head()

   index  sepal_length  sepal_width  petal_length  petal_width
0      3           5.0          3.6           1.4          0.2
1      4           5.4          3.9           1.7          0.4
2      5           4.6          3.4           1.4          0.3
3      6           5.0          3.4           1.5          0.2
4      7           4.4          2.9           1.4          0.2

### BONUS: Create your own question and answer it.