# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep = '\t')
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = data
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [58]:
convert = lambda x: float(x[1:-1])
#data['new_price'] = data.item_price.apply(convert)
#data[data.new_price > 10].shape[0]
data[(data.new_price > 10)&(data['quantity'] >1)]

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
148,67,2,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",$17.98,17.98
150,68,2,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$17.50,17.50
154,70,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$17.50,17.50
213,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50
217,96,2,Chicken Crispy Tacos,"[Tomatillo Red Chili Salsa, [Cheese, Sour Crea...",$17.50,17.50
241,105,2,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$17.50,17.50
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78,23.78
282,124,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$17.50,17.50
315,137,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$17.50,17.50
353,152,2,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",$22.16,22.16
354,153,2,Chicken Soft Tacos,"[Fresh Tomato Salsa, Sour Cream]",$17.50,17.50
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94,32.94
415,181,2,Chicken Bowl,[Tomatillo Red Chili Salsa],$17.50,17.50
426,185,2,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Sour Cream, Lettuce]]",$17.50,17.50
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
506,212,2,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$23.50,23.50
534,223,2,Steak Burrito,"[Fresh Tomato Salsa, [Sour Cream, Lettuce, Che...",$18.50,18.50
549,229,2,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",$22.16,22.16
577,237,2,Chicken Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$16.98,16.98
591,243,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, So...",$22.50,22.50
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$23.78,23.78
633,261,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",$22.50,22.50
638,264,2,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$18.50,18.50
654,271,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$17.50,17.50
816,337,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",$22.50,22.50
846,348,2,Veggie Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Sour Cream,...",$16.98,16.98
864,357,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$22.50,22.50
885,366,2,Chicken Crispy Tacos,[Tomatillo Red Chili Salsa],$17.50,17.50
...,...,...,...,...,...,...
3658,1462,2,Chicken Soft Tacos,"[[Tomatillo-Green Chili Salsa (Medium), Fresh ...",$21.96,21.96
3663,1465,2,Chicken Bowl,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",$16.98,16.98
3674,1471,2,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$17.50,17.50
3689,1478,2,Chicken Burrito,"[Roasted Chili Corn Salsa (Medium), [Sour Crea...",$16.98,16.98
3754,1502,2,Steak Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$23.50,23.50
3767,1509,2,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$17.50,17.50
3823,1533,2,Chicken Burrito,"[[Lettuce, Rice]]",$16.38,16.38
3843,1540,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Pinto...",$21.96,21.96
3861,1548,2,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$18.50,18.50
3887,1559,8,Side of Chips,NaN,$13.52,13.52
3888,1559,2,Chicken Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$16.98,16.98
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$16.98,16.98
3890,1559,2,Carnitas Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]",$17.98,17.98
3891,1559,2,Chicken Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$16.98,16.98
3918,1572,2,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Cheese, Black Bea...",$17.50,17.50
3970,1591,2,Steak Burrito,"[Fresh Tomato Salsa, [Lettuce, Sour Cream, Che...",$18.50,18.50
3976,1593,2,Chicken Bowl,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",$16.98,16.98
4082,1634,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$18.50,18.50
4093,1640,2,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$17.50,17.50
4148,1660,2,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$17.50,17.50
4152,1660,10,Bottled Water,NaN,$15.00,15.00
4232,1690,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$18.50,18.50
4307,1718,2,Steak Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$23.50,23.50
4310,1719,2,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$18.50,18.50
4354,1738,2,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$18.50,18.50
4423,1764,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$22.50,22.50
4427,1764,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour ...",$23.50,23.50
4435,1767,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$17.50,17.50
4489,1786,4,Chips and Guacamole,NaN,$17.80,17.80
4561,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50,17.50

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [15]:
data[['item_name','item_price']].head()

                               item_name item_price
0           Chips and Fresh Tomato Salsa     $2.39
1                                   Izze     $3.39
2                       Nantucket Nectar     $3.39
3  Chips and Tomatillo-Green Chili Salsa     $2.39
4                           Chicken Bowl    $16.98

### Step 6. Sort by the name of the item

In [18]:
data.item_name.sort_values().head()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
Name: item_name, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [24]:
data.sort_values(by = 'new_price',ascending = False).head(1).reset_index().loc[0,'quantity']

15

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [41]:
data1 = data.groupby('item_name').size().to_frame().reset_index()
data1.head()
data1[data1['item_name'] == 'Veggie Salad Bowl'].iloc[0,1]

18

### Step 9. How many times people orderd more than one Canned Soda?

In [64]:
data[(data['item_name'] =='Canned Soda')&(data['quantity'] >1)].count().order_id

20